body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    #color
    {
      height:100px;
      width:100px;
      border-radius:50%;
      border:none;
    }
#color:hover{
            cursor:pointer;
}
